html,body {
    height: 100%;
}
body {
    background: #ffffff;
    background: radial-gradient(ellipse at center,  #ffffff  0%, #ffffff 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
    color: #000000;
    text-shadow: 0 0 20px rgb(255, 255, 255),  0 0 20px rgb(0, 0, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 80px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 240px;
    }
    .text {
        letter-spacing: 0.1em;
        font-size: 120px;
        padding: 200px 0 0;
    }
}